<%= form_for(final) do |f| %>
  <% if final.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(final.errors.count, "error") %> prohibited this final from being saved:</h2>

      <ul>
      <% final.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :venue_name %>
    <%= f.text_field :venue_name %>
  </div>

  <div class="field">
    <%= f.label :venue_address %>
    <%= f.text_field :venue_address %>
  </div>

  <div class="field">
    <%= f.label :venue_ownername %>
    <%= f.text_field :venue_ownername %>
  </div>

  <div class="field">
    <%= f.label :approved_at %>
    <%= f.datetime_select :approved_at %>
  </div>

  <div class="field">
    <%= f.label :approved_by %>
    <%= f.text_field :approved_by %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
